@font-face {
  font-family: "Space Grotesk";
  src: url(./fonts/SpaceGrotesk.ttf);
}

:root {
    --light: #f4f4f4;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  font-family: "Space Grotesk";
  color: rgba(255,255,255,255);
  height: 100%;
  font-size: xx-large;
}




.content-wrapper {
  z-index: 0;
  font-family: "Space Grotesk";
  color: white;
  height: 100%;
}

.snaptarget {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;     
  padding: 2rem;
  box-sizing: border-box;
}

.content-section {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.snaptarget:nth-child(even) {
  justify-content: flex-start;  /* Align to left */
}

.snaptarget:nth-child(odd) {
  justify-content: flex-end;    /* Align to right */
}

.title-section:first-child { 
  padding: 20vh;
  justify-content: center; /* This is the title section want it in the center instead of left/right */
  align-items: baseline;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}