@font-face {
  font-family: "Space Grotesk";
  src: url(./fonts/SpaceGrotesk.ttf);
}

:root {
    --light: #f4f4f4;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}


.content-wrapper {
    z-index: 0;         /* default stacking level */
    font-family: "Space Grotesk";
    color: white;
    height: 100%;
}


.snaptarget {
  scroll-snap-align: start;
  height: 100vh; /* Full screen */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}